<!DOCTYPE html>

<html>


<head>
    <link rel="icon" href="/img/cloud.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Dietmar Delaplaecie. It uses data from different sites.</p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    
    {{>footer}}


</body>



</html>
